#about {
  background-color: #fff;
  padding-top: 135px;
  .about {
    &__caption {
      font-size: 16px;
      font-weight: 500;
      line-height: 19.36px;
      text-align: center;
      color: #3858d6;
      margin-bottom: 5px;
    }
    &__title {
      font-size: 36px;
      font-weight: 700;
      line-height: 43.57px;
      text-align: center;
      color: #1e1d1d;
      margin-bottom: 55px;
    }
    &__card {
      max-width: 524px;
      width: 100%;
      border-radius: 22px;
      background-color: #f6f6f6;
      padding: 30px 42px 30px 34px;
      display: flex;
      align-items: center;
      gap: 28px;
      margin-right: 17px;
      h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 29.05px;
        color: #1e1d1d;
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 19.36px;
        color: #8b8e99;
        margin-bottom: 9px;
      }
    }
  }
}
